@import '_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav {
  width: 100%;
  z-index: 1;
}

.logo {
  color: $firstColor;
}

.container {
  display: flex;
  flex-direction: column;
}

.navHeader {
  width: 100%;
  position: fixed;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(162, 255, 134, 0.5);
  padding: 0 10vw;
}

.link {
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0 15px;
  color: inherit;
}

.center {
  padding-left: 6vw;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
