.pieContainer {
  padding-top: 120px;
  padding-left: 80px;
  width: 45vw;
  min-width: 600px;
}

text {
  transition: 1s;
}

body[theme='dark'] {
  text {
    fill: white;
  }
}

body[theme='light'] {
  text {
    fill: black;
  }
}

.accountData {
  display: flex;
  background-color: rgba(252, 252, 252, 0.212);
}

.account {
  display: block;
  width: fit-content;
  padding: 15px;
}
