.pieContainer {
  padding-top: 120px;
  padding-left: 80px;
  width: 45vw;
  min-width: 600px;
}

text {
  transition: 1s;
}

body[theme='dark'] {
  text {
    fill: white;
  }
}

body[theme='light'] {
  text {
    fill: black;
  }
}
