.pieContainer {
  padding-top: 100px;
  width: 45vw;
  min-width: 800px;
}

text {
  transition: 1s;
}

body[theme='dark'] {
  text {
    fill: white;
  }
}

body[theme='light'] {
  text {
    fill: black;
  }
}

.linkNewAccount {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.transactionsBarContainer {
  padding-top: 100px;
}
