body {
  background-color: rgb(240, 240, 240);
  color: rgb(14, 14, 14);
  margin: 0;
  transition: 2s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(14, 14, 14);
    color: white;
  }
}

body[theme='dark'] {
  background-color: rgb(14, 14, 14);
  color: white;
}

body[theme='light'] {
  background-color: rgb(240, 240, 240);
  color: rgb(14, 14, 14);
}

body::-webkit-scrollbar {
  display: none;
}

.bigDiv {
  background-color: rgba(22, 75, 96, 0.5);
  height: 12000px;
  width: 100vw;
}

.dropdown {
  padding: 40px;
  padding-left: 100px;
}

.toggle::after {
  content: none;
}

.menu {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.menuLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body[theme='dark'] {
  .menuLink {
    color: white;
  }
}

body[theme='light'] {
  .menuLink {
    color: rgb(14, 14, 14);
  }
}

.welcome {
  text-align: center;
  position: fixed;
  top: 28vh;
  z-index: 99;
  width: 100vw;
  font-size: clamp(36px, 4vw, 100px);
  transition: 2s;
  opacity: 0;
}

body[position='top'] {
  .welcome {
    opacity: 1;
  }
}

.motto {
  text-align: center;
  position: fixed;
  top: 28vh;
  z-index: 99;
  width: 100vw;
  font-size: clamp(36px, 4vw, 100px);
  transition: 1s;
  opacity: 0;
}

body[position='middle'] {
  .motto {
    opacity: 1;
  }
}

.logo {
  text-align: center;
  position: fixed;
  top: 28vh;
  z-index: 99;
  width: 100vw;
  font-size: clamp(36px, 3vw, 100px);
  transition: 1s;
  opacity: 0;
}

body[position='bottom'] {
  .logo {
    opacity: 1;
  }
}

.join {
  text-align: center;
  position: fixed;
  top: 28vh;
  z-index: 99;
  width: 100vw;
  padding-left: 25vw;
  padding-right: 25vw;
  font-size: clamp(24px, 3vw, 70px);
  transition: 1s;
  opacity: 0;
}

body[position='stop'] {
  .join {
    opacity: 1;
  }
}

.joinButton {
  text-align: center;
  position: fixed;
  top: 55vh;
  z-index: 99;
  width: 8vw;
  margin-left: 46vw;
  margin-left: 46vw;
  font-size: clamp(16px, 1.5vw, 60px);
  transition: 1s;
  opacity: 0;
  text-decoration: none;
  color: inherit;
  border: solid;
  border-radius: 20px;
}

.joinButton:hover {
  background-color: rgba(126, 126, 126, 0.5);
}

body[position='stop'] {
  .joinButton {
    opacity: 1;
  }
}

.upArrow {
  position: relative;
  font-size: 600px;
  color: rgba(162, 255, 134, 0.5);
  top: 0;
  z-index: 1;
  left: calc(50vw - 220px);
}

.turn1 {
  rotate: 18deg;
}

.turn2 {
  rotate: 36deg;
}

.turn3 {
  rotate: 54deg;
}

.turn4 {
  rotate: 72deg;
}

.turn5 {
  rotate: 90deg;
}

.turn6 {
  rotate: 108deg;
}

.turn7 {
  rotate: 126deg;
}

.turn8 {
  rotate: 144deg;
}

.turn9 {
  rotate: 162deg;
}

.turn10 {
  rotate: 180deg;
  transition: 2s;
}

body[arrow='stop'] {
  .turn10 {
    position: fixed;
    top: 10vh;
    transform: scale(4) rotate(270deg);
  }
}

body[zoom='zoom'] {
  .turn10 {
    transform: scale(50) rotate(270deg);
  }
}

.footer {
  position: relative;
  font-size: 14px;
  background-color: rgba(79, 192, 208, 0.5);
  z-index: 998;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.bottomLinks {
  transition: 0.5s;
  text-decoration: none;
  color: inherit;
}

.bottomLinks:hover {
  cursor: pointer;
  color: rgba(27, 107, 147, 0.5);
}
